/* Computer's Hand */
.computersHand {
    display: flex;
    justify-content: center;
}

/* 1 Card */
#firstCardComp {
    height: 250px;
    width: 150px;
    position: absolute;
    top: 25px;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    margin-right: 250px;
    z-index: 0;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(3deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#firstCardCompInterior {
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#firstCardCompInterior img {
    width: 100%;
}

/* 2 Card */
#secondCardComp {
    height: 250px;
    width: 150px;
    position: absolute;
    top: 28px;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    margin-right: 125px;
    z-index: 1;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(2deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#secondCardCompInterior {
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secondCardCompInterior img {
    width: 100%;
}

/* 3 Card */
#thirdCardComp {
    height: 250px;
    width: 150px;
    position: absolute;
    top: 31px;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    z-index: 2;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(0deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#thirdCardCompInterior {
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thirdCardCompInterior img {
    width: 100%;
}

/* 4 Card */
#fourthCardComp {
    height: 250px;
    width: 150px;
    position: absolute;
    top: 30px;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    margin-left: 125px;
    z-index: 3;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(-2deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#fourthCardCompInterior {
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fourthCardCompInterior img {
    width: 100%;
}

/* 5 Card */
#fifthCardComp {
    height: 250px;
    width: 150px;
    position: absolute;
    top: 25px;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    margin-left: 250px;
    z-index: 4;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(-3deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#fifthCardCompInterior {
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fifthCardCompInterior img {
    width: 100%;
}


/* Card Computer Backs */
/* 1 Card */
#firstCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#firstCardCompBackInterior img {
    width: 40%;
    position: absolute;
}

#firstCardCompBackInterior:after {
    content: '';
    height: 125px;
    width: 200px;
    border: 2px solid white;
    border-radius: 70% 30% 70% 30%;   
}

/* 2 Card */
#secondCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#secondCardCompBackInterior img {
    width: 50%;
    position: absolute;
}

#secondCardCompBackInterior:after {
    content: '';
    height: 125px;
    width: 200px;
    border: 2px solid white;
    border-radius: 70% 30% 70% 30%;   
}

/* 3 Card */
#thirdCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#thirdCardCompBackInterior img {
    width: 40%;
    position: absolute;
}

#thirdCardCompBackInterior:after {
    content: '';
    height: 125px;
    width: 200px;
    border: 2px solid white;
    border-radius: 70% 30% 70% 30%;   
}

/* 4 Card */
#fourthCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#fourthCardCompBackInterior img {
    width: 50%;
    position: absolute;
}

#fourthCardCompBackInterior:after {
    content: '';
    height: 125px;
    width: 200px;
    border: 2px solid white;
    border-radius: 70% 30% 70% 30%;   
}

/* 5 Card */
#fifthCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 230px;
    width: 130px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#fifthCardCompBackInterior img {
    width: 60%;
    position: absolute;
}

#fifthCardCompBackInterior:after {
    content: '';
    height: 125px;
    width: 200px;
    border: 2px solid white;
    border-radius: 70% 30% 70% 30%;   
}