/* Reset Cards */
.drawCardStyle {
    height: 25%;
    width: 7%;
    position: absolute;
    right: 15%;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    transform-style: preserve-3d;
    transform: rotateX(65deg) rotateZ(40deg);
}

.drawCardInterior {
    height: 92%;
    width: 87%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawCardInterior img {
    width: 100%;
}

#drawCardFirst {
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

#drawCardFirst:hover {
    filter: brightness(60%);
}

#drawCard2 {
    top: 50.5%;
    z-index: -2;
}

#drawCard3 {
    top: 51%;
    z-index: -3;
}

#drawCard4 {
    top: 51.5%;
    z-index: -4;
}

#drawCard5 {
    top: 52%;
    z-index: -5;
}

#drawCardLast {
    top: 52.5%;
    box-shadow: 0px 0px 10px 1px black;
    transition: box-shadow 0.25s linear;
    z-index: -6;
}


/* Animations */
@keyframes workingCard {
    from {
        box-shadow: 0px 0px 10px 1px black;
    }

    to {
        box-shadow: 0px 0px 40px 1px rgb(255, 217, 0);
    }
    
}