/* Phone Responsive */
@media (pointer: coarse) and (orientation: portrait) {
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    .putLandscapeMode {
        position: absolute;
        top: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: radial-gradient(rgb(255, 115, 0), rgb(110, 0, 0));
    }

    .putLandscapeMode p {
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        text-align: center;
        padding: 0 40px;
    }

    .startMenuBackground {
        display: none;
    }

    .backgroundGamePhone {
        display: none;
    }
}

@media (pointer: coarse) and (orientation: landscape) {
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }
    
    
    /* Landscape Mode */
    .putLandscapeMode {
        display: none;
    }
    
    
    /* Black Loading Screen */
    .loadingScreen {
        height: 100%;
    }
    
    
    /* 
        Menu Game
    */
    .startMenuBackground {
        height: 100%;
        display: block;
    }
    
    .backgroundGamePhone {
        display: block;
    }
    
    .cardStyleStartMenu {
        height: 55%;
        width: 13%;
        border-radius: 17px;
        border: 2px solid white;
        box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.6);
    }
    
    .cardStyleStartMenuInterior {
        height: 95%;
        width: 92%;
        border-radius: 25px 15px 25px 15px;
    }
    
    .cardStyleStartMenuInterior p {
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -3px 3px 0px #000000;
    }
    
    .cardStyleStartMenuInterior:after {
        height: 60%;
        border: 2px solid white;
    }
    
    /* First Card */
    #cardStartMenu1 {
        transform: translate(-170%, -47%) rotateZ(-4deg);
    }

    #cardStartMenu1 p {
        font-size: 30px;
    }
    
    /* Second Card */
    #cardStartMenu2 {
        transform: translate(-90%, -49%) rotateZ(-1deg);
    }

    #cardStartMenu2 p {
        font-size: 30px;
    }
    
    /* Third Card */
    #cardStartMenu3 {
        transform: translate(-10%, -49%) rotateZ(1deg);
    }

    #cardStartMenu3 p {
        font-size: 30px;
    }

    /* Fourth Card */
    #cardStartMenu4 {
        transform: translate(70%, -47%) rotateZ(4deg);
    }

    #cardStartMenu4 p {
        font-size: 30px;
    }
    
    
    /*  */
    .titleAppear {
        display: none;
    }

    
    /* Option Box */
    .boxBlur {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.4);
        z-index: 999;
        display: none;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s ease;
        opacity: 0;
    }
    
    .boxContainer {
        height: 75%;
        width: 65%;
        box-shadow: inset 0 0 5px black;
        border: 3px solid white;
        border-radius: 20px;
        display: flex;
    }
    
    .boxContainer::-webkit-scrollbar {
        display: none;
    }
    
    #optionBox .boxContainer {
        align-items: center;
        justify-content: center;
        gap: 40px;
        background: url('../Images/PolySettings.png');
        background-size: 115% 115%;  
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #rulesBox .boxContainer {
        flex-direction: column;
        background: url('../Images/PolyRules.png');
        background-size: 115% 115%;
        background-repeat: no-repeat;
        background-position: center;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
    }

    .textOptionBoxLeft {
        /* background: red; */
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .textOptionBoxLeft p {
        /* background: green; */
        height: 50px;
        font-size: 25px;
    }
    
    
    .selectVolumeBoxRight {
        /* background: blue; */
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .selectVolumeBoxRight p {
        /* background: green; */
        height: 50px;
        width: 100%;
        font-size: 25px;
    }
    
    .volumeBar {
        /* background: black; */
        height: 50px;
    }
    
    .cubeSound {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    }
    
    
    /*  */
    #rulesBox .boxContainer p {
        font-size: 22px;
    }
    
    
    /* Title Appearing Top */
    .titleAppearTop {
        top: 0;
    }
    
    .titleAppearTop p {
        font-size: 75px;
    }

    #particle1 {
        height: 18px;
        width: 18px;
    }
    
    #particle2 {
        height: 12px;
        width: 12px;
    }
    
    #particle3 {
        height: 16px;
        width: 16px;
    }
    
    #particle4 {
        height: 9px;
        width: 9px;
    }
    
    #particle5 {
        height: 13px;
        width: 13px;
    }
    
    #particle6 {
        height: 15px;
        width: 15px;
    }
    
    #particle7 {
        height: 10px;
        width: 10px;
    }
    
    #particle8 {
        height: 8px;
        width: 8px;
    }
    
    #particle9 {
        height: 16px;
        width: 16px;
    }
    
    
    /* Title Appearing on Hover */
    .titleGoBack {
        position: absolute;
        bottom: 0;
        top: 50%;
        left: 0;
        transform: translate(30%, -50%);
        height: 70%;
        width: 100px;
        background: linear-gradient(0deg, transparent 10%, rgba(255, 0, 0, 0.6), transparent 90%);
    }
    
    .titleGoBack p {
        text-align: center;
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
    
    
    /* Reset Cards */
    .startPackStyle {
        height: 35%;
        width: 8%;
        position: absolute;
        border-radius: 15px;
        border: 2px solid white;
    }
    
    .startPackInterior {
        height: 95%;
        width: 90%;
        border-radius: 20px 10px 20px 10px;
    }
    
    #startPack1 {
        left: 7%;
        top: 65%;
        box-shadow: 0 0 10px 2px black;
        transform: rotateX(55deg) rotateZ(60deg);
    }
    
    #startPack2 {
        left: 7%;
        top: 65.5%;
        box-shadow: 0 0 10px 2px black;
        transform: rotateX(55deg) rotateZ(30deg);
    }
    
    #startPack3 {
        height: 30%;
        width: 7%;
        left: 85%;
        top: 65%;
        box-shadow: 0 0 10px 2px black;
        transform: rotateX(60deg) rotateZ(-40deg);
    }
    
    #startPack4 {
        height: 30%;
        width: 7%;
        left: 85%;
        top: 63.5%;
        box-shadow: 0 0 10px 2px black;
        transform: rotateX(60deg) rotateZ(40deg);
    }
    
    

    /*  */
    .circleTopLeft {
        height: 300px;
        width: 300px;
    }
    
    .circleTopLeftLittle1 {
        left: 18%;
        height: 75px;
        width: 75px;
    }
    
    .circleTopLeftLittle2 {
        top: 37%;
        height: 100px;
        width: 100px;
    }
    
    .circleBottomRight {
        transform: none;
        height: 150px;
        width: 150px;
        border-radius: 100% 0 0 0;
        opacity: 0.6;
    }
    
    .circleBottomRightLittle1 {
        height: 75px;
        width: 75px;
        opacity: 0.4;
    }
    
    .circleBottomRightLittle2 {
        bottom: 40%;
        right: 8%;
        height: 50px;
        width: 50px;
        opacity: 0.3;
    }



    /* 
        Start Game
    */

    /* Circle Middle */
    #arrowMiddle {
        width: 35%;
        opacity: 0.3;
        top: 50%;
    }
    
    #circleMiddle {
        height: 100%;
        transform: translate(-50%, -50%) rotateX(45deg);
    }
    

    /* Circle Top Left with Snowman + Snowballs */
    /* Snowflakes */
    .snowflakeTopLeft {
        height: 10px;
        width: 10px;
    }

    .snowflakeTopLeft:nth-child(2) {
        height: 5px;
        width: 5px;
    }

    /* Little Droplets */
    .littleIceDrop:nth-child(1) {
        height: 20px;
        width: 10px;
    }

    .littleIceDrop:nth-child(2) {
        height: 27px;
        width: 17px;
    }

    .littleIceDrop:nth-child(3) {
        height: 24px;
        width: 14px;
    }


    /* Circle Top Right with Tree + Snowballs *
    /* Snowflakes */
    .snowflakeTopRight {
        height: 10px;
        width: 10px;
    }

    .snowflakeTopRight:nth-child(1) {
        height: 8px;
        width: 8px;
    }

    .snowflakeTopRight:nth-child(3) {
        height: 6px;
        width: 6px;
    }

    .snowflakeTopRight:nth-child(5) {
        height: 9px;
        width: 9px;
    }

    /* Little Droplets */
    .littleIceDrop2:nth-child(1) {
        height: 20px;
        width: 10px;
    }

    .littleIceDrop2:nth-child(2) {
        height: 27px;
        width: 17px;
    }

    .littleIceDrop2:nth-child(3) {
        height: 24px;
        width: 14px;
    }



    /* 
        Player's Cards
    */

    /* Card Style */
    .cardStyle {
        height: 30%;
        width: 8%;
        border-radius: 10px;
        border: 2px solid white;
        box-shadow: 0px 0px 5px black;
    }

    .cardStyleInterior {
        border-radius: 20px 10px 20px 10px;
    }

    .cardStyleInterior p {
        font-size: 30px;
    }

    .cardStyleInterior:after {
        border: 2px solid white;
    }



    /* 
        Computer's Cards
    */

    /* Card Computer Style */
    .cardCompStyle {
        border-radius: 10px;
        border: 2px solid white;
        box-shadow: 0px 0px 5px black;
    }

    .cardCompStyleInterior {
        border-radius: 20px 10px 20px 10px;
    }


    /* Card Computer Back Style */
    .cardCompStyleInteriorBack {
        border-radius: 20px 10px 20px 10px;
    }

    .cardCompStyleInteriorBack p {
        font-size: 30px;
    }

    .cardCompStyleInteriorBack:after {
        border: 2px solid white;
    }



    /* 
        Draw Cards
    */

    /* Reset Cards */
    .drawCardStyle {
        border-radius: 10px;
    }

    .drawCardInterior {
        border-radius: 20px 10px 20px 10px;
    }

    #drawCardFirst:hover {
        filter: none;
    }



    /* 
        Ending Screen 
    */
    .endingScreen {
        height: 100%;
    }


    /*  */
    #announcerText {
        font-size: 60px;
    }

    /*  */
    .whoWonBox {
        height: 25%;
        width: 12%;
        border-radius: 20px;
    }

    /*  */
    #textBelowProfile {
        bottom: -35%;
        font-size: 25px;
    }

    /*  */
    .buttonStyle {
        height: 50px;
        width: 150px;
        font-size: 30px;
    }

    .buttonStyle:nth-child(2) {
        margin-left: 150px;
    }


    /*  */
    .cardStyleEnd {
        border-radius: 10px;
        border: 2px solid white;
    }


    /*  */
    .star {
        position: absolute;
        background: rgb(255, 217, 0);
        box-shadow: 0 0 5px 2px white;
        border-radius: 50%;
        z-index: 99;
    }

    #star1 {
        bottom: 0;
        left: 10%;
        height: 5%;
        width: 5%;
        animation: goStarUp 2s infinite;
    }

    #star2 {
        bottom: 0;
        left: 15%;
        height: 10%;
        width: 10%;
        animation: goStarUp 3.5s infinite;
    }

    #star3 {
        bottom: 0;
        left: 25%;
        height: 7.5%;
        width: 7.5%;
        animation: goStarUp 4s infinite;
    }

    #star4 {
        bottom: 0;
        left: 30%;
        height: 9.25%;
        width: 9.25%;
        animation: goStarUp 2.5s infinite;
    }

    #star5 {
        bottom: 0;
        left: 45%;
        height: 8%;
        width: 8%;
        animation: goStarUp 3.75s infinite;
    }

    #star6 {
        bottom: 0;
        right: 40%;
        height: 6.75%;
        width: 6.75%;
        animation: goStarUp 2s infinite;
    }

    #star7 {
        bottom: 0;
        right: 35%;
        height: 4%;
        width: 4%;
        animation: goStarUp 3s infinite;
    }

    #star8 {
        bottom: 0;
        right: 20%;
        height: 9.5%;
        width: 9.5%;
        animation: goStarUp 2.75s infinite;
    }

    #star9 {
        bottom: 0;
        right: 10%;
        height: 7.25%;
        width: 7.25%;
        animation: goStarUp 2.25s infinite;
    }
}