/* Phone Responsive */
@media screen and (max-width: 1024px) and (orientation: portrait) {
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    .putLandscapeMode {
        position: absolute;
        top: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: radial-gradient(rgb(255, 115, 0), rgb(110, 0, 0));
    }

    .putLandscapeMode p {
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        text-align: center;
        padding: 0 40px;
    }

    .startMenuBackground {
        display: none;
    }

    .backgroundGamePhone {
        display: none;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .putLandscapeMode {
        display: none;
    }

    
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }
    
    
    
    .putLandscapeMode {
        display: none;
    }
    
    
    
    .loadingScreen {
        height: 100%;
    }
    
    
    
    .startMenuBackground {
        height: 100%;
        display: block;
    }
    
    .backgroundGamePhone {
        display: block;
    }
    
    .cardStyleStartMenu {
        height: 55%;
        width: 15%;
        border-radius: 17px;
        border: 2px solid white;
        box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.6);
    }
    
    .cardStyleStartMenuInterior {
        height: 95%;
        width: 92%;
        border-radius: 25px 15px 25px 15px;
    }
    
    .cardStyleStartMenuInterior p {
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -3px 3px 0px #000000;
    }
    
    .cardStyleStartMenuInterior:after {
        height: 60%;
        border: 2px solid white;
    }
    
    /* First Card */
    #cardStartMenu1 {
        transform: translate(-170%, -47%) rotateZ(-4deg);
    }

    #cardStartMenu1 p {
        font-size: 30px;
    }
    
    /* Second Card */
    #cardStartMenu2 {
        transform: translate(-90%, -49%) rotateZ(-1deg);
    }

    #cardStartMenu2 p {
        font-size: 30px;
    }
    
    /* Third Card */
    #cardStartMenu3 {
        transform: translate(-10%, -49%) rotateZ(1deg);
    }

    #cardStartMenu3 p {
        font-size: 30px;
    }

    /* Fourth Card */
    #cardStartMenu4 {
        transform: translate(70%, -47%) rotateZ(4deg);
    }

    #cardStartMenu4 p {
        font-size: 30px;
    }
    
    
    /*  */
    .titleAppear {
        display: none;
    }

    
    /* Option Box */
    .boxBlur {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.4);
        z-index: 999;
        display: none;
        align-items: center;
        justify-content: center;
        transition: opacity 0.25s ease;
        opacity: 0;
    }
    
    .boxContainer {
        height: 75%;
        width: 65%;
        box-shadow: inset 0 0 5px black;
        border: 3px solid white;
        border-radius: 20px;
        display: flex;
    }
    
    .boxContainer::-webkit-scrollbar {
        display: none;
    }
    
    #optionBox .boxContainer {
        align-items: center;
        justify-content: center;
        gap: 40px;
        background: url('../Images/PolySettings.png');
        background-size: 115% 115%;  
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #rulesBox .boxContainer {
        flex-direction: column;
        background: url('../Images/PolyRules.png');
        background-size: 115% 115%;
        background-repeat: no-repeat;
        background-position: center;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
    }

    .textOptionBoxLeft {
        /* background: red; */
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .textOptionBoxLeft p {
        /* background: green; */
        height: 50px;
        font-size: 25px;
    }
    
    
    .selectVolumeBoxRight {
        /* background: blue; */
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .selectVolumeBoxRight p {
        /* background: green; */
        height: 50px;
        width: 100%;
        font-size: 25px;
    }
    
    .volumeBar {
        /* background: black; */
        height: 50px;
    }
    
    .cubeSound {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    }
    
    
    /*  */
    #rulesBox .boxContainer p {
        font-size: 22px;
    }
    
    
    /* Title Appearing Top */
    .titleAppearTop {
        top: 0;
    }
    
    .titleAppearTop p {
        font-size: 75px;
    }

    #particle1 {
        height: 18px;
        width: 18px;
    }
    
    #particle2 {
        height: 12px;
        width: 12px;
    }
    
    #particle3 {
        height: 16px;
        width: 16px;
    }
    
    #particle4 {
        height: 9px;
        width: 9px;
    }
    
    #particle5 {
        height: 13px;
        width: 13px;
    }
    
    #particle6 {
        height: 15px;
        width: 15px;
    }
    
    #particle7 {
        height: 10px;
        width: 10px;
    }
    
    #particle8 {
        height: 8px;
        width: 8px;
    }
    
    #particle9 {
        height: 16px;
        width: 16px;
    }
    
    
    
    /* Title Appearing on Hover */
    .titleGoBack {
        bottom: 3%;
        height: 30px;
        width: 50%;
        border-radius: 30px;
    }
    
    .titleGoBack p {
        font-size: 20px;
    }
    
    
    
    /* Reset Cards */
    .startPackStyle {
        height: 45%;
        width: 10%;
        position: absolute;
        left: -2%;
        border-radius: 15px;
        border: 2px solid white;
        transform: rotateX(50deg) rotateZ(40deg);
    }
    
    .startPackInterior {
        height: 95%;
        width: 90%;
        border-radius: 20px 10px 20px 10px;
    }
    
    #startPack1 {
        top: 75%;
    }
    
    #startPack2 {
        top: 75.5%;
    }
    
    #startPack3 {
        top: 76%;
    }
    
    #startPack4 {
        top: 76.5%;
        box-shadow: 0 0 10px 2px black;
    }
    
    

    /*  */
    .circleTopLeft {
        height: 300px;
        width: 300px;
    }
    
    .circleTopLeftLittle1 {
        left: 18%;
        height: 75px;
        width: 75px;
    }
    
    .circleTopLeftLittle2 {
        top: 37%;
        height: 100px;
        width: 100px;
    }
    
    .circleBottomRight {
        transform: none;
        height: 150px;
        width: 150px;
        border-radius: 100% 0 0 0;
        opacity: 0.6;
    }
    
    .circleBottomRightLittle1 {
        height: 75px;
        width: 75px;
        opacity: 0.4;
    }
    
    .circleBottomRightLittle2 {
        bottom: 40%;
        right: 8%;
        height: 50px;
        width: 50px;
        opacity: 0.3;
    }






















}