* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background: radial-gradient(#7492ff, #070057);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}



.putLandscapeMode {
    display: none;
}




.loadingScreen {
    height: 100vh;
    width: 100%;
    background: black;
    z-index: 999;
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
}



.startMenuBackground {
    height: 100vh;
    background: radial-gradient(rgb(255, 115, 0), rgb(110, 0, 0));
    display: block;
}

.cardStyleStartMenu {
    height: 45%;
    width: 13%;
    position: absolute;
    top: 50%;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: left 0.25s ease, top 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.cardStyleStartMenuInterior {
    height: 96%;
    width: 93%;
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cardStyleStartMenuInterior p {
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -4px 5px 0px #000000;
    position: absolute;
    z-index: 1;
    transform: rotate(-20deg);
}

.cardStyleStartMenuInterior:after {
    content: '';
    backdrop-filter: blur(5px);
    height: 70%;
    width: 100%;
    border: 4px solid white;
    border-radius: 70% 30% 70% 30%;
}

/* First Card */
#cardStartMenu1 {
    left: 50%;
    transform: translate(-150%, -47%) rotateZ(-4deg);
    z-index: 1;
}

#cardStartMenu1 p {
    font-size: 60px;
    color: #7290FD;
}

#cardStartMenu1 .cardStyleStartMenuInterior {
    background: url('../Images/PolygonCardInterior.png');
    background-size: 115% 115%;
    background-repeat: no-repeat;
    background-position: center;
}

#cardStartMenu1 .cardStyleStartMenuInterior:after {
    background: rgba(86, 140, 255, 0.5);
}

/* Second Card */
#cardStartMenu2 {
    left: 50%;
    transform: translate(-75%, -49%) rotateZ(-1deg);
    z-index: 2;
}

#cardStartMenu2 p {
    font-size: 60px;
    color: #29a729;
}

#cardStartMenu2 .cardStyleStartMenuInterior {
    background: url('../Images/PolygonCardInterior2.png');
    background-size: 115% 115%;
    background-repeat: no-repeat;
    background-position: center;
}

#cardStartMenu2 .cardStyleStartMenuInterior:after {
    background: rgba(69, 255, 84, 0.5);
}

/* Third Card */
#cardStartMenu3 {
    left: 50%;
    transform: translate(0%, -49%) rotateZ(1deg);
    z-index: 3;
}

#cardStartMenu3 p {
    font-size: 60px;
    color: #b98921;
}

#cardStartMenu3 .cardStyleStartMenuInterior {
    background: url('../Images/PolygonCardInterior3.png');
    background-size: 115% 115%;
    background-repeat: no-repeat;
    background-position: center;
}

#cardStartMenu3 .cardStyleStartMenuInterior:after {
    background: rgba(255, 136, 0, 0.5);
}

/* Fourth Card */
#cardStartMenu4 {
    left: 50%;
    transform: translate(75%, -47%) rotateZ(4deg);
    z-index: 4;
}

#cardStartMenu4 p {
    font-size: 60px;
    color: #d11a1a;
}

#cardStartMenu4 .cardStyleStartMenuInterior {
    background: url('../Images/PolygonCardInterior4.png');
    background-size: 115% 115%;
    background-repeat: no-repeat;
    background-position: center;
}

#cardStartMenu4 .cardStyleStartMenuInterior:after {
    background: rgba(221, 26, 26, 0.5);
}


/*  */
.titleAppear {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%, 0);
    height: 70px;
    width: 70%;
    border-radius: 30px;
    background: linear-gradient(90deg, transparent 10%, rgb(255, 0, 0), transparent 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s ease;
    opacity: 0;
}

.titleAppear p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


/* Option Box */
.boxBlur {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s ease;
    opacity: 0;
}

.boxContainer {
    height: 70vh;
    width: 50%;
    box-shadow: inset 0 0 5px black;
    border: 5px solid white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.boxContainer::-webkit-scrollbar {
    display: none;
}

#optionBox .boxContainer {
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: url('../Images/PolySettings.png');
    background-size: 115% 115%;  
    background-repeat: no-repeat;
    background-position: center;
}

#rulesBox .boxContainer {
    flex-direction: column;
    background: url('../Images/PolyRules.png');
    background-size: 115% 115%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}



.textOptionBoxLeft {
    /* background: red; */
    height: 100%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.textOptionBoxLeft p {
    /* background: green; */
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


.selectVolumeBoxRight {
    /* background: blue; */
    height: 100%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.selectVolumeBoxRight p {
    /* background: green; */
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(219, 163, 219);
    font-size: 40px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.volumeBar {
    /* background: black; */
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100px;
    position: relative;
}

.cubeSound {
    background: rgba(255, 227, 255, 0.6);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    height: 40%;
    width: 7%;
    z-index: 2;
    display: block;
    transition: background 0.25s ease;
    cursor: pointer;
}

.cubeSound:nth-child(1) {
    background: rgb(172, 92, 172);
}



#rulesBox .boxContainer p {
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    padding: 30px 30px 20px 30px;
    text-align: justify;
}

#rulesBox .boxContainer p:last-child {
    padding-bottom: 30px;
}



/* Title Appearing Top */
.titleAppearTop {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.5;
    filter: blur(2px);
    animation: hoverText 5s ease-in-out infinite;
}

.titleAppearTop p {
    font-size: 125px;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -4px 5px 0px #585858;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.25s ease;
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: rgb(221, 221, 221);
    border: 2px solid rgb(255, 255, 255);
    bottom: 10%;
    transition: background 0.25s ease;
    opacity: 0;
}

#particle1 {
    left: 0;
    height: 25px;
    width: 25px;
    animation: flyUp 5s ease-in-out infinite;
}

#particle2 {
    left: 15%;
    height: 15px;
    width: 15px;
    animation: flyUp 5s ease-in-out infinite 1s;
    z-index: -1;
}

#particle3 {
    left: 25%;
    height: 26px;
    width: 26px;
    animation: flyUp 5s ease-in-out infinite 2.5s;
}

#particle4 {
    left: 40%;
    height: 20px;
    width: 20px;
    animation: flyUp 5s ease-in-out infinite 1.5s;
    z-index: -1;
}

#particle5 {
    left: 50%;
    height: 25px;
    width: 25px;
    animation: flyUp 5s ease-in-out infinite 0.75s;
    z-index: -1;
}

#particle6 {
    left: 60%;
    height: 15px;
    width: 15px;
    animation: flyUp 5s ease-in-out infinite 3s;
}

#particle7 {
    left: 70%;
    height: 10px;
    width: 10px;
    animation: flyUp 5s ease-in-out infinite 3.25s;
}

#particle8 {
    left: 80%;
    height: 20px;
    width: 20px;
    animation: flyUp 5s ease-in-out infinite 2.75s;
    z-index: -1;
}

#particle9 {
    left: 90%;
    height: 15px;
    width: 15px;
    animation: flyUp 5s ease-in-out infinite 2s;
}



/* Title Appearing on Hover */
.titleGoBack {
    position: absolute;
    bottom: 3%;
    height: 70px;
    width: 50%;
    border-radius: 30px;
    background: linear-gradient(90deg, transparent 10%, rgba(255, 0, 0, 0.6), transparent 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.titleGoBack p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}






/* Reset Cards */
.startPackStyle {
    height: 30%;
    width: 8%;
    position: absolute;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    transform-style: preserve-3d;
    transform: rotateX(50deg) rotateZ(40deg);
    transition: all 0.5s ease;
    cursor: pointer;
}

.startPackInterior {
    height: 92%;
    width: 87%;
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startPackInterior img {
    width: 100%;
}

#startPack1 {
    top: 80%;
    z-index: 5;
}

#startPack1 .startPackInterior {
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
}

#startPack2 {
    top: 80.5%;
    z-index: 4;
}

#startPack2 .startPackInterior {
    background: radial-gradient(rgb(255, 136, 0), rgb(88, 47, 0));
}

#startPack3 {
    top: 81%;
    z-index: 3;
}

#startPack3 .startPackInterior {
    background: radial-gradient(rgb(0, 141, 12), rgb(0, 43, 4));
}

#startPack4 {
    top: 81.5%;
    box-shadow: 0 0 20px 1px black;
    z-index: 2;
}

#startPack4 .startPackInterior {
    background: radial-gradient(rgb(3, 75, 231), rgb(0, 21, 66));
}

.circleTopLeft {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    background: radial-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
    border-radius: 50%;
    filter: blur(10px);
}

.circleTopLeftLittle1 {
    position: absolute;
    top: 5%;
    left: 15%;
    height: 100px;
    width: 100px;
    background: radial-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
    border-radius: 50%;
    filter: blur(10px);
    opacity: 0.2;
}

.circleTopLeftLittle2 {
    position: absolute;
    top: 30%;
    left: 5%;
    height: 125px;
    width: 125px;
    background: radial-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
    border-radius: 50%;
    filter: blur(10px);
    opacity: 0.3;
}

.circleBottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    height: 600px;
    width: 600px;
    background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    border-radius: 50%;
    filter: blur(10px);
}

.circleBottomRightLittle1 {
    position: absolute;
    bottom: 5%;
    right: 20%;
    height: 200px;
    width: 200px;
    background: radial-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
    border-radius: 50%;
    filter: blur(10px);
    opacity: 0.3;
}

.circleBottomRightLittle2 {
    position: absolute;
    bottom: 35%;
    right: 5%;
    height: 100px;
    width: 100px;
    background: radial-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
    border-radius: 50%;
    filter: blur(10px);
    opacity: 0.3;
}


/* Animations */
@keyframes justRotate {
    from {
        transform: translate(-50%, -50%) rotateX(40deg) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotateX(40deg) rotate(360deg);
    }
}

@keyframes hoverText {
    0% {
        transform: translate(-50%, 0%);
    }

    50% {
        transform: translate(-50%, 10%);
    }

    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes flyUp {
    from {
        bottom: 10%;
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    to {
        bottom: 50%;
        opacity: 0;
    }
}